body {
	background-color: lightgray;
}

div {
	display: flex;
	flex-direction: column;
}

h1 {
	color: rebeccapurple;
	margin-left: auto;
	margin-right: auto;
}

table {
	margin-left: auto;
	margin-right: auto;
	background-color: black;
	text-align: center;
	border: 1px solid;
}

td, th {
	background-color: white;
	padding: 6px;
	min-width: 6em;
}

.horiz {
	margin-top: .5em;
	flex-direction: row;
}

.confirm, .cancel {
	width: 5em;
	margin-left: auto;
	margin-right: auto;
}

#addBookShowDialog {
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

label {
	margin-top: 2px;
	margin-bottom: 2px;
}

label > input {
	margin-left: 20px;
	float: right;
	width: 8em;
}

dialog {
	padding: 10px;
}
